/* === Alien Frogs ===
 * 
 * CSS transforms the simple divs in alien frogs
 * Each div is a frog: red or green (type), round corners, border
 * Each frog has 2 eyes: using ::before and ::after pseudoelements
 * When the frog is hovered, the eyes should turn black (white text
 * 
 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;900&display=swap');

/* --- General settings --- */
*, *::before, *::after {
    box-sizing: inherit;
    text-align: center;
}

html {
    box-sizing: border-box;
}

/* --- Body --- */
body {
    padding: 1em;
    background-color:beige;
}

/* --- Page header --- */
body::before {
    display: block;
    content: "ALIEN FROGS!";
    font-family: "Poppins", sans-serif;
    letter-spacing: -14px;
    line-height: 70%;
    font-size: 10rem;
    font-weight: 900;
    width: min-content;
    /* `background-content: clip` shows the background image (fallback: black) through the text */
    background: black url(https://i.natgeofe.com/k/8fa25ea4-6409-47fb-b3cc-4af8e0dc9616/red-eyed-tree-frog-on-leaves-3-2_3x4.jpg);
    background-size: cover;
    background-clip: text;
    color: transparent;
}

/* --- Shape --- */
.frog {
    display: inline-block;
    margin: 50px;
    padding: 5px;
    width: 160px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid black;
}
.frog.small {
    padding: 1px;
    width: 70px;
    height: 35px;
}
/* --- Eyes --- */
.frog::before, .frog::after {
    content: "o"; /* the eye ball */
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 100%;
    display: inline-block;
    position: relative;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid black;
}
.frog.small::before, .frog.small::after {
    padding: 2.5px;
    width: 25px;
    height: 25px;
    font-size: 90%;
}

/* --- Eyes position --- */
.frog::before {
    top: -20px;
    left: -60px;
}
.frog::after {
    top: -20px;
    right: -60px;
}
.frog.small::before {
    top: -15px;
    left: -20px;
}
.frog.small::after {
    top: -15px;
    right: -20px;
}

/* --- Frogs colors --- */
.type1 {
    background-color: hsl(90, 60%, 50%);
}
.frog.type1::before, .frog.type1::after {
    background-color: hsl(90, 60%, 80%);
}
.frog.small.type1::before, .frog.small.type1::after {
    background-color: hsl(90, 60%, 40%);
    color: white;
}
.type2 {
    background-color: hsl(20, 100%, 50%);
}
.frog.type2::before, .frog.type2::after {
    background-color: hsl(20, 100%, 80%);
}
.frog.small.type2::before, .frog.small.type2::after {
    background-color: hsl(20, 100%, 40%);
    color: white;
}
/* Black eye when hovered frog */
.frog.frog:hover::before, .frog.frog:hover::after {
    background-color: black;
    color: white;
}
